@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@900");

.outerContainer {
	position: relative;
	width: 100vw;
	max-width: 768px;
	height: 100vh;
	max-height: 768px;
	aspect-ratio: 1/1;
	margin: auto;
}

.outerContainer svg {
	scale: 1.5;
}

.innerContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.charContainer {
	white-space: nowrap;
}

.char {
	display: inline-block;
	font-family: "Noto Sans Display", sans-serif;
	-webkit-text-stroke-width: 3.8px;
	-webkit-text-stroke-color: #000000;
	-webkit-text-fill-color: #ffffff;
}
